<!DOCTYPE html>
<html>

<link rel="stylesheet" href="test.css">

<head>

	<title>
		Restomate
	</title>
	<h1>Bonne bouffe</h1>
</head>
<body>

<div class="choix1"> 
	<button id= "presentation">Présentation</button>
		<div id="cache1">
				Étant donné que jQuery c'est principalement de la lecture de doc, on va t'envoyer comme ressource.
		</div>
</div>

<div class="choix2">
	<button id= "menu">Menu</button>
		<div id="cache2">
		⚠️ ATTENTION ⚠️ Le projet du jour est validant ⚠️ ATTENTION ⚠️
		Il est indispensable que tu le soumettes avant 23h59 aujourd'hui. Plus d'information sur les projets validant dans la page des modalités. Voici le lien du formulaire à compléter.
	</div>
</div>

<div class="choix3">
	<button id= "toilettes">Toilettes</button>
		<div id="cache3">
			Dans ce projet tu vas faire une landing page express de restaurant avec un système de tabulation. Tu auras un onglet Présentation, un ongle menu et un onglet de ton choix. Et il est possible de changer d'onglets en cliquant dessus, un peu comme le gif suivant :
	</div>
</div>
</body>
<%= javascript_include_tag 'index.js' %>
</html>