head {
	width: 450px;
	height: 250px;
	text-align: center;
	background-color: red;
}

body { 
	display: flex;
	border: 2px solid grey;
	margin-right: 15%;
	margin-left: 15%;
	width: 70%;
	justify-content: center;
	height: 600px;
}

button{
		font-size: 14px;
		border: none;
		height: 50px;
}

button:hover{
	border-bottom: 1px solid pink;
}
button:focus{
	outline: none;
}

.choix1, .choix2, .choix3{
	width: 30%;
	margin-top: 30px;
}

#cache1{
	width: 450%;
}

#cache2{
	width: 450%;
}
#cache3{
	width: 450%;
}